<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="10;http://blank.org/"/>
    <title>Chargevite</title>
    <link rel="icon" type="Icono-Chargevite_64x64.png" href="Icono-Chargevite_64x64.png">
    <!-- CSS FILES -->
    <link rel="stylesheet" type="text/css" href="css/uikit.css">
</head>
<body class="uk-height-1-1">
<div class="uk-flex uk-flex-center uk-flex-middle">
    <div class="uk-width-large uk-padding-small">
        <img src="images/Chargevite-logo2.png" alt="">
        <div class="uk-width-1-1 uk-text-center">
            <span class="" uk-icon="icon: world; ratio: 5"></span>
            <p class="uk-text-large">Conectando al Wifi</p>
        </div>

        <div class="uk-margin">
            <div class="uk-width-1-1 uk-text-center">
                <p>
                    Se está intentando la conexión a {{ ssid }}.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- JS FILES -->
<script src="js/uikit.js"></script>
<script src="js/uikit-icons.js"></script>
